@font-face {
    font-family: IntertRegular;
    src: url(./fonts/Intert-Regular.ttf);
}

@font-face {
    font-family: RowdiesRegular;
    src: url(./fonts/Rowdies-Regular.ttf);
}

* {
    font-family: IntertRegular;
    font-size: 16px;
    font-weight: 400;
}

body {
    overflow-x: hidden;
}

header {
    background-color: #fbf1e3;
}

.locationDiv {

    background-color: #fc800a;

    padding-right: 115px;

    position: relative;

    color: #ffffff;

    transition: all 0.3s linear;

}

 

.locationDiv:hover {

    background-color: #fc800a;

    padding-right: 115px;

    position: relative;

    color: #000000;

}




.locationDiv::after {

    content: '';

    position: absolute;

    top: 0;

    right: 0;

    border-bottom: 44px solid #fbf1e3;

    border-left: 50px solid transparent;

    width: 0;

}

 

.headernum {

    transition: all 0.3s linear;

    padding-right: 20px;

}

.headernum:hover {

    color: #fc800a;

}

 

.headeremail {

    padding-left: 20px;

    border-left: 1px solid #000000;

}

.headeremail:hover {

    color: #fc800a;

}

 


@media only screen and (max-width: 1050px) {
    body {
        overflow-x: hidden;
    }

    .headertopSec {
        display: none;
    }

}


.menuSec {
    padding: 25px 80px 0px 80px;
}

.menuH2 h2 {
    color: #000000;
    cursor: pointer;
}

.menuH2 h2:hover {
    color: #FC800A;
    transition: all linear 0.3s;
}


.heartIcon {
    width: 13px;
}

.menuSec h2 {
    font-family: IntertRegular;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 22px;
    margin: 15px 0px;
}

.menuIcon {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding: 6px;
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;
    transition: all linear 0.3s;
}

.menuIcon:hover {
    background-color: #FC800A;

}

.humberger {
    display: none;
}

.profileIcon {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding: 8px;

    background-color: #000000;
}

@media only screen and (max-width: 1050px) {
    .menuSec {
        padding: 25px 20px 0px 20px;
    }

    .menuH2 {
        display: none;
    }

    .menuIcon,
    .profileIcon {
        display: none;
    }

    .humberger {
        display: flex;
        overflow-x: hidden;
    }
    .humbergerIcon {
        width: 30px;
        height: 30px;
    }
    .moblieMenuDiv {
        background-color: #FCF7EE;
        position: fixed;
        top: 0%;
        right: -80%;
        width: 80%;
        height: 100vh;
        z-index: 199;

    }
    .closeMenu {
        font-family: IntertRegular;
    font-size: 25px;
    font-weight: 700;
        position: absolute;
        top: 10px;
        left: 4%;
    }

}


.cloudImgHome {
    background-color: #fbf1e3;
}

/* FIRST BANNER SECTION */

.firstbanner {
    width: 100%;
    height: 100%;
    background-color: #fbf1e3;
    background-image: url(./image/star-pattan.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

.firstbannerinnerSec {
    padding: 0px 80px;
    position: relative;
}

.BackPack {
    bottom: 2%;
    right: 0%;
    width: 210px;
    position: absolute;
}

.firstbannerimg {
    width: 50%;
    position: relative;
}

.firstbannerimg2 {
    z-index: 1;
    width: 100%;
    position: relative;
}

.sliderImg2 {
    top: 75px;
    right: 0;
    width: 300px;
    position: absolute;
}

.firstbannerimg1 {
    z-index: 1;
    position: absolute;
    padding: 0px 30px;
}

.sliderImg1 {
    z-index: 0;
    width: 750px;
}

.firstbannerimg3 {
    top: 18px;
    left: -80px;
    position: absolute;
}

.sliderblob {
    width: 700px;
}


.firstbannertxtSec {
    width: 50%;
    padding-left: 80px;
    padding-bottom: 49px;
}

.firstbannertxtContent {

    padding-right: clamp(0rem, -9.3052rem + 14.5251vw, 8.125rem);
}

.firstbannertxtContent h2 {
    font-size: 18px;
    font-weight: 600;
    color: #fc800a;
}

.firstbannertxtContent h1 {
    font-family: RowdiesRegular;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
    color: #000000;
    margin-bottom: 20px;
}

.firstbannertxtContent p {
    font-family: IntertRegular;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.firstbannerbtn {
    padding: 10px 35px;
    background-color: #fc800a;
    border-radius: 3.125em;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    margin-top: 30px;
    border: 2px solid transparent;
}

.firstbannerbtn:hover {
    border: 2px dashed #000000;
}

.btnArrow {
    width: 25px;
    filter: brightness(0) invert(1);
}

.scissorsDiv svg {
    width: 60px;
    fill: #FFD1A1;
}

.scissorsimg {
    width: 150px;
}

.starSvg {
    transform: translate(-50%, -50%);
    animation: rotatesvg 3.5s infinite linear;
}

@keyframes rotatesvg {
    0% {
        transform: translate(-50%, -50%)rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%)rotate(360deg);
    }
}

.SvgArrowDiv {
    position: relative;
}

.SvgArrowDiv2 {
    position: relative;
}


.abcSale {
    right: 0;
    width: 140px;
    position: absolute;
}



#firstbannertxtSec .slick-prev {
    color: #000000;
    top: 109%;
    left: 0%;
    position: absolute;
    z-index: 10;

}

#firstbannertxtSec .slick-prev::before {
    color: #00e20b00;
    width: 80px;
    position: absolute;
    background-color: #1c7ad100;
    z-index: 10;

}

#firstbannertxtSec .slick-next {
    top: 109%;
    left: 16%;
    position: absolute;
    z-index: 10;

}

#firstbannertxtSec .slick-next::before {
    color: #00000000;
    width: 80px;
    position: absolute;
    background-color: #1ead3600;
    z-index: 10;
}


@media only screen and (max-width: 1050px) {

    .firstbannerinnerSec {
        overflow: hidden;
        padding: 20px 20px 0px;
        position: relative;
    }

    .firstbannertxtContent h1 {
        font-size: 25px;
    }

    .firstbanner {
        padding: 20px 20px 0px;
    }

    .firstbannerimg {
        display: none;
    }

    .scissorsDiv {
        display: none;
    }

    .firstbannertxtSec {
        width: 100%;
        padding-left: 0px;
        padding-bottom: 0px;
    }

    .firstbannertxtContent {
        text-align: center;
        padding-right: 0px;
    }

    .firstbannerbtn {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .abcSale {
        display: none;
    }

    #firstbannertxtSec .slick-prev {
        color: #000000;
        top: 111%;

    }

    #firstbannertxtSec .slick-next {
        top: 111%;
        left: 38%;
    }


}

/* ABOUT SECTION  */
.aboutSection {
    display: flex;
    flex-wrap: wrap;
    background-color: #FCF7EE;
}

.aboutContentDiv h2 {
    font-size: 18px;
    font-weight: 600;
    color: #fc800a;
}

.aboutContentDiv h1 {
    font-family: RowdiesRegular;
    font-size: 45px;
    line-height: 1.3;
    font-weight: 400;
    color: #000000;
}

.aboutContentDiv p {
    font-size: 16px;
    color: #000000;
    max-width: 750px;
    margin-top: 20px;
}

.aboutSvgContent h3 {
    font-family: RowdiesRegular;
    width: 200px;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
    color: #000000;
}

.aboutsvg1 {
    background-color: #e96b3b;
    width: 80px;
    padding: 10px;
    border-radius: 20px;
}

.aboutsvg2 {
    background-color: #f8ad12;
    width: 80px;
    padding: 10px;
    border-radius: 20px;
}

.aboutsvg3 {
    background-color: #88b520;
    width: 80px;
    padding: 10px;
    border-radius: 20px;
}

.aboutsvg4 {
    background-color: #f96ea0;
    width: 80px;
    padding: 10px;
    border-radius: 20px;
}

.aboutsvg5 {
    background-color: #7bbfff;
    width: 80px;
    padding: 10px;
    border-radius: 20px;
}

.aboutsvg6 {
    background-color: #cb98e8;
    width: 80px;
    padding: 10px;
    border-radius: 20px;
}

.aboutbtn {
    padding: clamp(0.75rem, 0.6923rem + 0.2564vw, 1rem) clamp(1.5625rem, 1.4183rem + 0.641vw, 2.1875rem);
    background-color: #fc800a;
    border-radius: 3.125em;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    border: 2px solid transparent;
}

.aboutbtn:hover {
    border: 2px dashed #000000;
}

.aboutbtnArrow {
    width: 25px;
    filter: brightness(0) invert(1);
}


.aboutImg2 {
    width: 250px;
    border: 2px dashed #88B520;
    border-radius: 115px;
}

.aboutImg1 {
    width: 250px;
    border: 2px dashed #000000;
    border-radius: 25px;
}

.aboutvideo1 {
    object-fit: cover;
    border: 2px dashed #e96b3b;
    border-radius: 25px;
    max-width: 50%;
}

@media only screen and (max-width: 1050px) {

    .aboutAnime1 {
        text-align: center;
        width: 100%;
        padding: 2px 0px;
    }

    .aboutSection {
        overflow: hidden;
        padding: 12px 20px;
    }

    .aboutContentBox {
        width: 250px;
    }

    .aboutContentDiv h1 {
        font-size: 25px;
    }

    .aboutContentDiv p {
        margin-top: 10px;
    }

    .aboutContentBox1 {
        justify-content: center;
    }

    .aboutSvgContent {
        gap: 14px;
    }

    .aboutContentBox h3 {
        font-size: 18px;
    }

    .aboutusbtvDiv {
        margin: 20px;
    }
   
    .aboutAnime2 {
        width: 100%;
        margin-top: 0px;
    }

    .aboutFirstImgDiv {
        width: 100%;
        justify-content: center;
    }

    .aboutImg2 {
        width: 35%;

    }

    .aboutImg1 {
        width: 35%;

    }

    .aboutvideo1 {
        width: 60%;
        object-fit: cover;

    }


}


/* SECTION THREE */

.thirdsection {
    background-color: #FCF7EE;
}

.secthreeTxt {
    width: 60%;
}

.secthreeTxt h2 {
    font-size: 18px;
    color: #fc800a;
}

.secthreeTxt h1 {
    font-family: RowdiesRegular;
    font-size: 46px;
    line-height: 1.2;
    font-weight: 400;
    color: #000000;
    max-width: 800px;

}

.starSvg1Div {
    position: relative;
    width: 15%;
    height: 120px;
}

.starSvg1 {
    position: absolute;
    right: 0;
    bottom: 0;
}

.starSvg2Div {
    position: relative;
    width: 15%;
    height: 120px;
}

.starSvg2 {
    position: absolute;
    right: 0;
    top: 0;
}


.thirdSecInnerDiv {
    padding: 30px 30px 0px 30px;
    border-right: 2px dashed rgba(158, 158, 158, 0.5);
}

.thirdSecSvg1 {
    width: 200px;
}

.thirdSecInnerDiv h2 {
    margin-top: 20px;
    font-family: RowdiesRegular;
    font-size: 24px;
}

.thirdSecInnerDiv p {
    margin-top: 20px;
    font-size: 17px;
}

.thirdSecInnerDivlast {

    border-right: 0px;
}

@media only screen and (max-width: 1050px) {

    .thirdSecSecond {
        flex-wrap: wrap;
        padding: 0px 15px 10px;
    }

    .thirdSecInnerDiv {
        border-right: 0px;
    }

    .secthreeTxt h1 {
        font-size: 25px;
    }

    .thirdSecSvg1 {
        width: 120px;
    }

    .thirdSecInnerDiv h2 {
        margin-top: 10px;
        font-family: RowdiesRegular;
        font-size: 15px;
    }

    .thirdSecInnerDiv p {
        margin-top: 5px;
        font-size: 17px;
    }


}




/* SECTION FOURTH */

.FourthSection {
    background-color: #FCF7EE;

}

.fouthSectxtDiv h2 {
    font-size: 18px;
    color: #fc800a;
}

.fouthSectxtDiv h1 {
    font-family: RowdiesRegular;
    font-size: 45px;
    max-width: 900px;
}

.SponcerImgDiv {
    padding: 22px 36px;
    border-radius: 20px;
    max-width: 292px;
}

@media only screen and (max-width: 1050px) {

    .fouthSectxtDiv {
        padding: 10px 20px;
    }

    .fouthSectxtDiv h2 {
        font-size: 18px;
    }

    .fourSecAnime {
        padding: 20px 30px;
    }

    .fouthSectxtDiv h1 {
        font-size: 18px;
        max-width: 900px;
    }

    .fourSecAnime {
        gap: 10px;
    }

}



/* SECTION FIVE */


.FifthSection {
    padding: 180px 0px 0px;
    background-image: url(./image/kids-slider-bg-01.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.star3d {
    position: absolute;
    top: 15%;
    left: 5%;
    width: 40px;
}

.star3d2 {
    position: absolute;
    bottom: 30%;
    left: 40%;
    width: 40px;
}

.star3d3 {
    position: absolute;
    top: 35%;
    left: 55%;
    width: 40px;
}


.drawStar {
    position: absolute;
    top: 25%;
    right: 6%;
    width: 50px;

}

.studyCap {
    position: absolute;
    bottom: 14%;
    left: 6%;
    width: 100px;
}

.thunder {
    position: absolute;
    width: 100px;
    top: 12%;
    left: 40%;
}

.fifthSecDiv {
    padding: 0px 180px;
}

.fifthSectxtDiv {
    max-width: 790px;
}

.fifthSectxtDiv h2 {
    font-size: 18px;
    font-weight: 600;
    color: #fc800a;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.fifthSectxtDiv h1 {
    font-family: RowdiesRegular;
    font-size: 60px;
    line-height: 1.2;
    color: #ffffff;
}

.fifthSectxtDiv p {
    margin-top: 15px;
    font-size: 16px;
    color: #ffffff;
}

.fiveSecbtv {
    padding: 14px 40px;
    background-color: #fc800a;
    border-radius: 3.125em;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    margin-top: 30px;
    border: 2px solid transparent;
}

.fiveSecbtv:hover {
    border: 2px dashed #000000;
}

.cloudImg2 {
    filter: brightness(0) invert(1);
}

@media only screen and (max-width: 1050px) {

    .FifthSection {
        padding: 30px 0px 0px;
        background-image: url(./image/kids-slider-bg-01.jpg);
        background-position: center left;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .fifthSecDiv {
        padding: 0px 30px;
    }

    .fifthSectxtDiv {
        padding: 0px;
    }

    .drawStar {
        display: none;
    }

    .star3d {
        display: none;
    }

    .star3d2 {
        display: none;
    }

    .star3d3 {
        display: none;
    }



    .studyCap {
        position: absolute;
        bottom: 5%;
        left: 6%;
        width: 100px;
    }

    .thunder {
        display: none;
    }

    .fifthSectxtDiv h1 {
        font-family: RowdiesRegular;
        font-size: 25px;
        line-height: 1.2;
        color: #ffffff;
    }

    .fifthSectxtDiv p {
        margin-top: 8px;
        font-size: 16px;
        color: #ffffff;
    }

    .fiveSecbtv {
        padding: 8px 30px;
        background-color: #fc800a;
        border-radius: 3.125em;
        font-size: 16px;
        font-weight: 600;
        color: #ffffff;
        margin-top: 30px;
        border: 2px solid transparent;
    }

}


/* SECTION SIX */

.sixSectxtDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.sixSectxtDiv h2 {
    letter-spacing: 2px;
    font-size: 18px;
    color: #88b520;
    font-weight: 600;
}

.sixSectxtDiv h1 {
    text-align: center;
    max-width: 750px;
    font-size: 45px;
    font-family: RowdiesRegular;
}

.flowerPenDiv {

    width: 360px;
    position: relative;
}

.penimg {
    bottom: 0%;
    position: absolute;
}

.flowerSvg {
    transform: translate(-50%, -50%);
    animation: rotatesvg 6.5s infinite linear;
}

.flowerSvg1 {
    transform: translate(-50%, -50%);
    animation: rotatesvg 6.5s infinite linear;
}


.flowerSvg {
    width: 60px;
    right: 0%;
    position: absolute;
}

.flowerSvg1 {
    width: 50px;
    left: 0%;
    top: 50%;
    position: absolute;
}

.courseDiv {
    max-width: 520px;
    padding: 30px;
    border-radius: 20px;
    border: 2px dashed #9e9e9e;
}

.courseImg1div {
    border-radius: 15px;
}

.courseImg1 {
    border-radius: 15px;
    transition: all linear 0.4s;
}

.courseImg1:hover {
    scale: 1.1;
}

.courseDiv h2 {
    font-size: 24px;
    font-family: RowdiesRegular;
}

.courseDiv p {
    font-size: 16px;
}

.courseDiv h3 {
    font-size: 24px;
    font-family: RowdiesRegular;
    color: #fc800a;
}

.courseDiv h3 span {
    font-size: 24px;
    font-family: RowdiesRegular;
    color: #fc800a;
    text-decoration: line-through;

}

.coursebtn {
    padding: 14px 40px;
    background-color: #fc800a;
    border-radius: 3.125em;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    border: 2px solid transparent;
}

.coursebtn:hover {
    border: 2px dashed #000000;
}

.coursebtn2 {
    padding: 14px 40px;
    background-color: #fc800a;
    border-radius: 3.125em;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    border: 2px solid transparent;
}

.coubtnArrow {
    width: 25px;
    filter: brightness(0) invert(1);
}

.coursebtn2:hover {
    border: 2px dashed #000000;
}

@media only screen and (max-width: 1050px) {

    .SectionSix {
        padding: 10px 0px;
    }

    .flowerPenDiv {
        display: none;
    }

    .coureAnimeDiv {
        padding: 5px 30px;
    }

    .sixSectxtDiv h1 {
        font-size: 20px;
    }

    .coursebtn {
        padding: 2px 20px;
        font-size: 10px;
    }

    .coubtnArrow {
        width: 15px;
    }

    .coursebtn2 {
        margin: 10px 0px;
    }

}


/* SECTION SEVEN */
.SevenSection {
    background-image: url(./image/text-section-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #FCF7EE;
    position: relative;
}

.springArrowSvg {
    width: 280px;
    top: 25%;
    left: 1%;
    position: absolute;
}

.svgStarIcon {
    width: 40px;
    top: 2%;
    left: 40%;
    position: absolute;
}

.starSvg12 {
    width: 50px;
    top: 35%;
    right: 4%;
    fill: #e96b3b;
    position: absolute;
    transform: translate(-50%, -50%);
    animation: rotatesvg 6.5s infinite linear;
}

.SevenDivBox {
    background-color: #f4a21a;
    border: 2px dashed #000000;
    padding: 37px 70px 48px 70px;
    border-radius: 50px;
}

.SevenDivBox1 {
    border: 2px dashed #000000;
    padding: 37px 70px 48px 70px;
    border-radius: 50px;
    background-color: #88b520;
}

.SevenDivBox2 {
    border: 2px dashed #000000;
    padding: 37px 70px 48px 70px;
    border-radius: 50px;
    background-color: #376179;
}

.sevenSecfirstdiv h2 {
    font-size: 18px;
    font-weight: 600;
    color: #fc800a;
    letter-spacing: 1px;
}

.sevenSecfirstdiv h1 {
    font-size: 45px;
    font-family: RowdiesRegular;
}

.sevenDivHeading h2 {
    font-size: 45px;
    font-family: RowdiesRegular;
    color: #ffffff;
}

.homeIcon3 {
    width: 60px;
    margin-left: 8px;
}

.SevenDivBox p {
    max-width: 550px;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
}

.SevenDivBox ul li {
    display: flex;
    gap: 8px;
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 10px;
}

.sevenDivImg {
    width: 200px;
    margin-left: 40px;
    position: relative;
}

.SevenDivBox1 p {
    max-width: 550px;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
}

.SevenDivBox1 ul li {
    display: flex;
    gap: 8px;
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 10px;
}

.SevenDivBox2 p {
    max-width: 550px;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
}

.SevenDivBox2 ul li {
    display: flex;
    gap: 8px;
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 10px;
}

.TextImage1 {
    position: absolute;
    top: -100px;
}

.TextImage3 {
    position: absolute;
    top: -100px;
}

.TextImage2 {
    position: absolute;
    top: -100px;
    left: -100px;
}


@media only screen and (max-width: 1050px) {


    .SevenSection {
        background-position: center left;
        padding: 20px 15px;
    }

    .SevenExtraAnmie {
        display: none;
    }

    .SevenOurMissionMainDivs {
        padding: 20px 15px;
        overflow: hidden;
        gap: 15px;
    }

    .sevenSecfirstdiv h1 {
        font-size: 25px;
        font-family: RowdiesRegular;
    }

    .SevenDivBox {
        margin-left: 0px;
        padding: 10px 15px;
    }

    .sevenDivHeading h2 {
        font-size: 25px;
    }

    .sevenDivpara {
        padding-top: 3px;
    }

    .homeIcon3 {
        width: 30px;
        height: 30px;
        margin-left: 10px;
    }

    .SevenDivBox1 {
        margin-right: 0px;
        padding: 10px 15px;
    }

    .sevenDivImg {
        display: none;
    }

    .SevenDivBox2 {
        margin-left: 0px;
        padding: 10px 15px;
    }

    .SevenDivBox ul li {
        gap: 2px;
    }



}


/* SECTION EIGHT */

.SectionEight {
    background-color: #F8AD12;
}

.secEightDiv1 {
    position: relative;
    padding-right: 70px;
}

.BgImg2 {
    width: 490px;
    height: auto;
}

.boyImg1 {
    width: 540px;
    bottom: 0%;
    right: 0%;
    position: absolute;
}

.secEightInnerDiv2 {
    padding: 102px 0px 96px 0px;
}

.secEightDiv2 {
    position: relative;
}

.secEightDiv2 h3 {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
}

.secEightDiv2 h2 {
    font-size: 45px;
    font-family: RowdiesRegular;
    color: #ffffff;
}

.AnimeImg {
    top: -40%;
    right: 0%;
    width: 290px;
    position: absolute;
}

.secEigthDivBox {
    max-width: 287px;
    position: relative;
}

.dashedArrow {
    position: absolute;
    rotate: 130deg;
    width: 100px;
    top: 16%;
    right: -30%;
    filter: brightness(0) invert(1);
}

.dashedArrow1 {
    position: absolute;
    rotate: 50deg;
    width: 100px;
    top: 16%;
    right: -20%;
    filter: brightness(0) invert(1);
}

.SvgTeleSco {
    width: 120px;
    padding: 20px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-bottom: 20px;
}

.SvgScolarIcon {
    background-color: #dd5540;
}

.secEigthDivBox h2 {
    font-size: 30px;
    font-family: RowdiesRegular;
    color: #ffffff;
}

.secEigthDivBox p {
    padding: 0px 10px;
    font-size: 16px;
    color: #ffffff;
}

@media only screen and (max-width: 1050px) {

    .secEightInnerDiv2 {
        padding: 20px 0px;
    }

    .secEightDiv2 h2 {
        font-size: 25px;
    }

    .SvgTeleSco {
        margin-bottom: 2px;
    }


    .SectionEight {
        padding: 0px 20px;
    }

    .secEigthDivBox {
        padding: 0px;
    }


    .secEightInnerDiv {
        display: none;
    }

    .AnimeImg {
        display: none;
    }

    .secEightDiv2 {
        text-align: center;
        padding: 20px 0px;
    }


    .dashedArrow,
    .dashedArrow1 {
        display: none;
    }


}


/* SECTION NINE */

.SectionNine {
    background-color: #FCF7EE;
}

.secNineHead h3 {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
}

.secNineHead h2 {
    font-family: RowdiesRegular;
    font-size: 45px;
}

.secNineH4 {
    font-family: RowdiesRegular;
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #fc800a;

}

.evenBox {
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}

.eventFeatureImg8 {
    background-image: url(./image/event-feature-image-9.jpg);
    width: 300px;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all linear 0.4s;
    overflow: hidden;
}

.eventFeatureImg8:hover {
    scale: 1.1;
}

.eFImg7 {
    background-image: url(./image/event-feature-image-7.jpg);
}

.eFImg6 {
    background-image: url(./image/event-feature-image-6.jpg);
}

.eFImg5 {
    background-image: url(./image/event-feature-image-5.jpg);
}

.eFImg4 {
    background-image: url(./image/event-feature-image-4.jpg);
}

.eFImg3 {
    background-image: url(./image/event-feature-image-3.jpg);
}

.eFImg2 {
    background-image: url(./image/event-feature-image-2.jpg);
}

.eFImg1 {
    background-image: url(./image/event-feature-image-1.jpg);
}

.evenBoxContent {
    padding: 40px 30px;
    width: 490px;
}

.evenBoxbadge {
    background-color: #f96ea0;
    font-size: 16px;
    color: #ffffff;
    padding: 5px 15px;
    border-radius: 0px 20px;
    top: 0%;
    right: 0%;
    position: absolute;
}

.evenBoxContent h2 {

    margin-bottom: 7px;
    font-family: RowdiesRegular;
    font-size: 24px;
}

.evenBoxContent h3 {
    font-size: 16px;
}

.evenbtn {
    padding: 8px 25px;
    background-color: #fc800a;
    border-radius: 3.125em;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    margin-top: 20px;
    border: 2px solid transparent;
}

.evenbtn:hover {
    border: 2px dashed #000000;
}

.evenbtnArrow {
    width: 15px;
    filter: brightness(0) invert(1);
}


@media only screen and (max-width: 1050px) {

    .SectionNine {
        padding: 20px 20px;
        overflow: hidden;
    }

    .secNineHead h2 {
        font-size: 25px;
    }

    .NineSecHeadMain {
        padding: 20px 0px;
    }


    .evenBoxContent {
        width: 100%;
        padding: 15px 20px;

    }

    .nineEvenAnim {
        overflow: hidden;
    }

    .eventFeatureImg8 {
        width: 100%;
        height: 200px;
    }

    .evenBoxContent h2 {
        font-size: 20px;
    }


}



/* SECTION TEN */

.SectionTen {
    background-color: #FCF7EE;
    position: relative;
}

.slick-prev {
    color: #000000;
    top: -22%;
    left: 83.5%;
    position: absolute;
}

.slick-prev::before {
    color: #00000000;
    width: 80px;
    position: absolute;
    background-color: #7bbfff00;
}

.slick-next {
    top: -22%;
    left: 88%;
    position: absolute;
}

.slick-next::before {
    color: #00000000;
    width: 80px;
    position: absolute;
    background-color: #7bff8200;
}

.secTenHead h3 {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
}

.secTenHead h2 {
    font-family: RowdiesRegular;
    font-size: 45px;
}

.SvgArrowLR {
    width: 75px;


}

.Glr01 {
    border-radius: 20px;
    max-width: 403px;
    border: 2px dashed #000000;
}


@media only screen and (max-width: 1050px) {

    .SectionTen {
        padding: 20px 20px;
    }

    .tenSevFirstDiv {
        overflow: hidden;
        padding: 0px 0px 20px;
    }

    .secTenHead h2 {
        font-size: 35px;
    }


    .Glr01 {
        width: 100%;
    }

    .slick-prev {
        top: -15%;
        left: -5%;
    }

    .slick-next {
        top: -15%;
        left: 22%;
    }


}



/* SectionEleven */

.SectionEleven {
    background-color: #FCF7EE;
}

.testimonialDiv h3 {
    color: #88b520;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 2px;
}

.testimonialDiv h2 {
    font-family: RowdiesRegular;
    font-size: 45px;
}

.testimonBoxInnerDiv {
    position: relative;
}

.testimonBoxInnerDivContent {
    top: 40%;
    left: 15%;
    position: absolute;
}

.testimonBox p {

    max-width: 407px;
    color: white;
}

.TestimonialImg1 {
    width: 90px;
    border-radius: 50%;
}

.starTestimon {
    width: 20px;
    color: #ffffff;
}

.testimonNameH2 {
    font-family: RowdiesRegular;
    font-size: 20px;
}

.dotDiv {
    width: 8px;
    height: 8px;
    padding: 2px;
    border-radius: 50%;
    background-color: #FC800A;
}

.slick-dots li.slick-active button {
    width: 8px;
    height: 8px;

    border-radius: 50%;
    background-color: #FC800A;
}

.slick-dots li.slick-active button:before {
    width: 8px;
    height: 8px;
    color: #88b52000;
    border-radius: 50%;
    background-color: #FC800A;
}

@media only screen and (max-width: 1050px) {

    .SectionEleven {
        padding: 20px;
    }


    .testimonialDiv h2 {
        font-size: 25px;
    }

    .testimonialDiv {
        padding: 0px 0px 20px;
    }

    .starTestimon {
        width: 15px;
    }

    .testimonBoxInnerDivContent {
        top: 20%;
        left: 8%;
        max-width: 250px;

    }


    .testimonBox p {
        margin-top: -5px;
        font-size: 14px;
    }


}

/* FOOTER SECTION */

.FooterCloudImgDiv {

    background-color: #FCF7EE;

}

 

.footerBgColor {

    padding-top: 90px;

    background-color: #171e45;

}

 

.ourNewsLetter {

    padding: 40px 250px 50px 250px;

    border-radius: 57px;

    border: 2px dashed #fc800a;

    width: fit-content;

    position: relative;

}

 

.newsletterStarSvg {

    top: 25%;

    right: 2%;

    width: 175px;

    position: absolute;

}

 

.ourNewsLetter h3 {

    color: #ffffff;

    font-weight: 600;

    font-size: 18px;

    letter-spacing: 2px;

}

 

.ourNewsLetter h2 {

    color: #ffffff;

    font-family: RowdiesRegular;

    line-height: 1;

    font-size: 45px;

}

 

.ourNewsLetter p {

    margin-top: 10px;

    color: #ffffff;

    font-size: 18px;

    max-width: 680px;

}

 

.newsLetterInput {

    width: 633px;

    padding: 14px 36px;

    border-radius: 3.125em;

}

 

.footerbtn {

    padding: 10px 40px;

    background-color: #fc800a;

    border-radius: 3.125em;

    font-size: 16px;

    font-weight: 600;

    color: #ffffff;

    border: 2px solid transparent;

}

 

.footerbtn:hover {

    border: 2px dashed #000000;

}

 

.footerbtnArrow {

    width: 25px;

    filter: brightness(0) invert(1);

}

 

.footerLogoDiv {

    position: relative;

    width: 591px;

}

 

.Sunflower {

    position: absolute;

    width: 150px;

    bottom: -10%;

    right: 8%;

}

 

.footerLogoDiv p {

    margin-top: 15px;

    max-width: 345px;

    font-size: 16px;

    color: #ffffff;

}

 

.footerLogoDiv h2 {

    margin-top: 20px;

    color: #ffffff;

    font-family: RowdiesRegular;

    font-size: 24px;

}

 

.socialIcon {

    width: 35px;

    height: 35px;

    padding: 7px;

    border-radius: 50%;

    background-color: #ffffff;

    transition: all 0.3s linear;

}

.socialIcon:hover {

    background-color: #fc800a;

    color: #ffffff;

}

 

.footergetTouch {

    width: 453px;

}

 

.footergetTouch h2 {

    margin-bottom: 25px;

    color: #ffffff;

    font-family: RowdiesRegular;

    font-size: 24px;

}

 

.footergetTouch p {

    color: #ffffff;

    font-size: 16px;

    max-width: 208px;

}

 

.footergetTouch li {

    color: #ffffff;

    font-size: 16px;

    margin-bottom: 15px;

}

.footergetTouch li:hover {

    transition: all 0.3s linear;

    color: #fc800a;

}

 

.footergetTouch li span {

    margin-left: 8px;

    color: #ffffff;

    font-size: 16px;

    transition: all 0.3s linear;

}

.footergetTouch li span:hover {

    color: #fc800a;

}

 

.footerUesFull {

    position: relative;

    width: 348px;

}

 

.DotsImg {

    position: absolute;

    width: 100px;

    bottom: -10%;

    right: 52%;

}

 

.footerUesFull h2 {

    margin-bottom: 25px;

    color: #ffffff;

    font-family: RowdiesRegular;

    font-size: 24px;

}

 

.footerUesFull li {

    color: #ffffff;

    font-size: 16px;

    margin-bottom: 15px;

    transition: all 0.3s linear;

}

.footerUesFull li:hover {

    color: #fc800a;

}

 

.footerCustServ {

    width: 226px;

    position: relative;

}

 

.Musroom {

    position: absolute;

    width: 100px;

    bottom: -10%;

    right: -12%;

}

 

.footerCustServ h2 {

    margin-bottom: 25px;

    color: #ffffff;

    font-family: RowdiesRegular;

    font-size: 24px;

}

 

.footerCustServ li {

    color: #ffffff;

    font-size: 16px;

    margin-bottom: 15px;

    transition: all 0.3s linear;

}

.footerCustServ  li:hover {

    color: #fc800a;

}

 

.footerEndDiv {

    background-color: #F8E170;

    padding: 16px 110px;

}

 

.PaymentIcon1 {

    padding: 6px;

    background-color: #ffffff;

    width: 35px;

}

 


@media only screen and (max-width: 1050px) {

    .footerBgColor {
        padding-top: 20px;
    }

    .ourNewsLetter {
        margin: 0px 30px;
        padding: 20px 10px 20px 10px;
        border-radius: 57px;
        border: 2px dashed #fc800a;
        width: fit-content;
        position: relative;
    }

    .newsletterStarSvg,
    .Sunflower,
    .DotsImg,
    .Musroom {
        display: none;
    }

    .newsLetterInput {
        width: 100%;
        padding: 14px 36px;
        border-radius: 3.125em;
    }

    .ourNewsLetter h2 {
        line-height: 1.2;
        font-size: 20px;
    }

    .ourNewsLetter h3 {
        font-size: 14px;
    }

    .ourNewsLetter p {
        font-size: 14px;
    }

    .footerLogoDiv {
        width: 100%;
        padding: 0px 30px 18px;
    }

    .footerLogoDiv p {
        margin-top: 8px;
    }

    .footerLogoDiv h2 {
        margin-top: 12px;
    }

    .footergetTouch {
        width: 100%;
        padding: 9px 30px;
    }

    .footergetTouch h2 {
        margin-bottom: 5px;
    }

    .footergetTouch li {
        color: #ffffff;
        font-size: 16px;
        margin-bottom: 5px;
    }


    .footerUesFull {
        width: 100%;
        padding: 9px 30px;
    }

    .footerUesFull h2 {
        margin-bottom: 5px;
    }

    .footerUesFull li {
        margin-bottom: 3px;
    }


    .footerCustServ {
        width: 100%;
        padding: 9px 30px;
    }
    .footerCustServ h2 {
        margin-bottom: 5px;
        color: #ffffff;
        font-family: RowdiesRegular;
        font-size: 24px;
    }
    
    .footerCustServ li {
        color: #ffffff;
        font-size: 16px;
        margin-bottom: 3px;
    }

    .footerEndDiv {
        padding: 16px 20px;
        justify-content: center;
    }
    .footerEndDiv h3{
        font-size: 12px;

    }
    
    .PaymentIcon1 {
        padding: 6px;
        background-color: #ffffff;
        width: 25px;
    }

}



.aboutusbtvDivh4{
    cursor: pointer;
    color: #000000;
}
.aboutusbtvDivh4:hover{
    color: #fc800a;
}
